/*root es un psudoselector*/
:root{
/*Custom propierties*/
    --primario: #07203F; 
    --secundario:#038587;
    --tercero: #FFC107;
    --blanco: #F2F2F2;
    --gris: #757575; 
    
    
}  

html{
    font-size: 62.5%;/*reestablece el tamaño de pagina*/ 

}
body{
    font-size: 16px; /*1rem =10px*/
    font-family: 'Krub',sans-serif;
    margin: 0; /*por defecto body tiene un margen por lo que es recomendable mepezar en 0*/
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
    
}

.contenedor{
    width: 120rem;
    margin:0 auto;
}
    
.nav-bg{ /* se crea nav-bg para que se pinte toda la barra de nav*/
    background-color: var(--primario);
    width: 100%;

}
.navegacion-principal{
}

.navegacion-principal a{
    background-color: var(--tercero);
}